In [1]:
import pandas as pd

In [2]:
# df = dataframe
df = pd.read_csv("ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

schema.validate(df)

In [3]:
# mostra da linha 1 até 3
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [4]:
# mostra a linha 10 e 40 apenas
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [5]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6109                RECIFE
6110           PORTO VELHO
6111                 BELÉM
6112            DOM AQUINO
6113              CAMPINAS
Name: ocorrencia_cidade, Length: 6114, dtype: object

In [6]:
df.codigo_ocorrencia.is_unique

True

In [7]:
df.ocorrencia_uf.is_unique

False

In [8]:
df.ocorrencia_cidade.is_unique

False

In [9]:
# indexação
df.set_index('codigo_ocorrencia', inplace=True)

In [10]:
# df.head()

In [11]:
df.loc[40324]

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       PELOTAS
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-01-05 00:00:00
ocorrencia_hora                        19:25:00
total_recomendacoes                           0
Name: 40324, dtype: object

In [12]:
df.reset_index(drop=True, inplace=True)

df.head()

In [13]:
df.loc[0,'ocorrencia_aerodromo'] = ''

In [14]:
# df.head(1)

# alterar uma linha inteira
df.loc[1] = 20

In [15]:
# df.head(2)

In [16]:
# fazer backup antes de alterar uma coluna inteira
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [17]:
# alterar dado de uma coluna em todas as linhas
df.loc[:,'total_recomendacoes'] = 10

In [18]:
# df

In [19]:
# pesquisando occorencia uf que é igual a SP e mudando classificação
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [20]:
# df.loc[df.ocorrencia_uf == 'SP']

df

INICIO LIMPEZA

ocorrencia_uf tem informações como:
**
###!
####
****
*****

ocorrencia_hora:
NULL

In [6]:
# df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA


df.replace(['**','***','****','###!','####','NULL'], pd.NA, inplace=True)
# inplace faz o tratamento dentro do Dataframe

In [7]:
df.isna().sum()
# mesma coisa com df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2291
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [8]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [23]:
# df.fillna(0, inplace=True)

In [10]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2291
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [50]:
# df.replace([10], pd.NA, inplace=True)

In [13]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2291
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [27]:
# df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [14]:
# df.drop(['total_recomendacoes_bkp'], axis=1, inplace=True)
df.drop(['ocorrencia_hora'], axis=1, inplace=True)

In [15]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2291
ocorrencia_dia                 0
total_recomendacoes            0
dtype: int64

In [12]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [30]:
# não recomendavel usar df.dropna() pois ele deleta a linha inteira mesmo que contenha apenas um valor NA

# dropa apenas a linha que contem ocorrencia_uf = NA
df.dropna(subset=['ocorrencia_uf'])

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,<NA>
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,<NA>
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,<NA>
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,<NA>
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,<NA>
...,...,...,...,...,...,...,...,...
6109,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,<NA>
6110,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,<NA>
6111,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,<NA>
6112,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,<NA>
6113,80259,GRAVE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,<NA>

In [31]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,<NA>
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,<NA>
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,<NA>
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,<NA>
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,<NA>
...,...,...,...,...,...,...,...,...
6109,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,<NA>
6110,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,<NA>
6111,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,<NA>
6112,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,<NA>
6113,80259,GRAVE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,<NA>

In [33]:
df.dropna(subset=['ocorrencia_hora'])

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,<NA>
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,<NA>
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,<NA>
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,<NA>
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,<NA>
...,...,...,...,...,...,...,...,...
6109,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,<NA>
6110,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,<NA>
6111,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,<NA>
6112,80257,ACIDENTE,DOM AQUINO,MT,****,2021-08-18,16:00:00,<NA>
6113,80259,GRAVE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,<NA>

In [40]:
null_columns=df.columns[df.isnull().any()]
# df.loc(isnull('ocorrencia_hora'))

In [41]:
df[null_columns].isnull().sum()

ocorrencia_hora           1
total_recomendacoes    6114
dtype: int64

In [42]:
print(df[df.isnull().any(axis=1)][null_columns].head())

  ocorrencia_hora total_recomendacoes
0        12:00:00                <NA>
1        11:05:00                <NA>
2        03:00:00                <NA>
3        17:30:00                <NA>
4        19:25:00                <NA>

In [16]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2291
ocorrencia_dia                 0
total_recomendacoes            0
dtype: int64

In [17]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,0
...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,0

In [19]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of       codigo_ocorrencia  codigo_ocorrencia2 ocorrencia_classificacao  \
0                 40211               40211                INCIDENTE
1                 40349               40349                INCIDENTE
2                 40351               40351                INCIDENTE
3                 39527               39527                 ACIDENTE
4                 40324               40324                INCIDENTE
...                 ...                 ...                      ...
6109              80245               80245                INCIDENTE
6110              80247               80247                INCIDENTE
6111              80251               80251                INCIDENTE
6112              80257               80257                 ACIDENTE
6113              80259               80259                INCIDENTE

       ocorrencia_cidade ocorrencia_uf ocorrencia_aerodromo ocorrencia_dia  \
0         RIO DE JANEIRO            RJ                 <NA>     2010-01-03
1                  BELÉM            PA                 SBBE     2010-01-03
2         RIO DE JANEIRO            RJ                 SBRJ     2010-01-03
3     LUCAS DO RIO VERDE            MT                 <NA>     2010-01-04
4                PELOTAS            RS                 SBPK     2010-01-05
...                  ...           ...                  ...            ...
6109              RECIFE            PE                 SBRF     2021-08-15
6110         PORTO VELHO            RO                 SBPV     2021-08-16
6111               BELÉM            PA                 SBBE     2021-08-17
6112          DOM AQUINO            MT                 <NA>     2021-08-18
6113            CAMPINAS            SP                 SBKP     2021-08-18

      total_recomendacoes
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
6109                    0
6110                    0
6111                    0
6112                    0
6113                    0

[6114 rows x 8 columns]>